@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
*{
  margin: 0;
  padding: 0;
}
.container {
  background-color: #232323;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container g{
  stroke:none;
  fill:none;
  fill-rule:evenodd; 
  fill-opacity:0;
}
.container text{
  stroke:#fff;
  fill:#645F5A; 
  font-weight:normal; 
  font-family:PermanentMarker-Regular, Permanent Marker; 
  font-size:144px;
}
.container svg {
  max-width: 45rem;
  width: 100%;
  height: auto;
  fill: none;
  stroke: white;
  stroke-width: 4;
}
.container svg tspan > tspan {
  stroke-dasharray: 1500;
  stroke-dashoffset: -1500;
}
.container svg tspan > tspan:nth-of-type(1) {
  animation: draw 1000ms 250ms forwards;
}
.container svg tspan > tspan:nth-of-type(2) {
  animation: draw 1000ms 400ms forwards;
}
.container svg tspan > tspan:nth-of-type(3) {
  animation: draw 1000ms 550ms forwards;
}
.container svg tspan > tspan:nth-of-type(4) {
  animation: draw 1000ms 700ms forwards;
}
.container svg tspan > tspan:nth-of-type(5) {
  animation: draw 1000ms 850ms forwards;
}
.container svg tspan > tspan:nth-of-type(6) {
  animation: draw 1000ms 1000ms forwards;
}
.container svg tspan > tspan:nth-of-type(7) {
  animation: draw 1000ms 1150ms forwards;
}
.container svg tspan > tspan:nth-of-type(8) {
  animation: draw 1000ms 1300ms forwards;
}
.container svg tspan > tspan:nth-of-type(9) {
  animation: draw 1000ms 1450ms forwards;
}
.container svg tspan > tspan:nth-of-type(10) {
  animation: draw 1000ms 1600ms forwards;
}
.container svg tspan > tspan:nth-of-type(11) {
  animation: draw 1000ms 1750ms forwards;
}
.container svg tspan > tspan:nth-of-type(12) {
  animation: draw 1000ms 1900ms forwards;
}
.container svg tspan > tspan:nth-of-type(13) {
  animation: draw 1000ms 2050ms forwards;
}
.container svg tspan > tspan:nth-of-type(14) {
  animation: draw 1000ms 2200ms forwards;
}
.container svg tspan > tspan:nth-of-type(15) {
  animation: draw 1000ms 2350ms forwards;
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;   
  }
}
